{{ $js := resources.Get "main.js" | js.Build | resources.Minify }}
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{ partial "head.html" . }}
<body class="has-navbar-fixed-top">
  {{ partial "header.html" . }}
	<main>
    {{ block "header" . }}

    {{ end }}

    {{ block "main" . }}

    {{ end }}

    {{ block "footer" . }}

    {{ end }}
  </main>
  {{ partial "footer.html" . }}
</body>
<script type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
</html>
