//// Bulma

// Colors
$info: #a2b6c5;
$success: #5e7173;
$warning: #f4c190;
$danger: #ff9f98;

// Responsiveness
$widescreen-enabled: false;
$fullhd-enabled: false;

// Card
$card-background-color: #f4c09009;
// $card-header-color: #D1ABAF;
// $card-footer-background-color: #D1ABAF;

// Navbar
$navbar-item-hover-color: #383d3be1;
$navbar-dropdown-arrow: #383d3b;

// Footer
$footer-background-color: #1a3033;
$footer-padding: 3rem 1.5rem 5rem;

// Button
// $scheme-main: #fcfbee0e;

// Variables
$text: #383d3b;
$text-strong: #383d3b;
$family-primary: "Montserrat", sans-serif;

// Hero
$hero-body-padding-medium: 12rem 1.5rem;

// Pagination
$pagination-color: #383d3b;
$pagination-current-background-color: #d1abaf;
$pagination-current-border-color: #d1abaf;

//// Custom
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1;
}

.pagination-previous {
	background-color: $pagination-current-background-color;
	border-color: $pagination-current-border-color;
}

.pagination-next {
	background-color: $pagination-current-background-color;
	border-color: $pagination-current-border-color;
}

@import "bulma/bulma.sass";
@import "fontawesome/scss/fontawesome.scss";
@import "fontawesome/scss/brands.scss";
@import "fontawesome/scss/solid.scss";
