{{ with .Params.resources }}
<div class="notification is-info is-light">
	<h3 class="title is-6">{{ i18n "additionalResources" }}</h3>
	<p class="is-italic">{{ i18n "additionalResourcesDescription" }}</p>
	<div class="content">
		<ul>
			{{ range . }}
				{{ $name := (index . "name") }}
				{{ $author := (index . "author") }}
				{{ $date := (index . "date") }}
				{{ $edition := (index . "edition") }}
				{{ $url := (index . "url") }}

				<li>{{ with $author }}{{ . }}, {{ end }}<span class="is-italic">{{ with $url }}<a href="{{ . }}">{{ end }}{{ $name }}{{ with $url }}</a>{{ end }}</span>{{ with $date }} ({{ . }}){{ end }}{{ with $edition }}, {{ . }}{{ end }}</li>
			{{ end }}
		</ul>
	</div>
</div>
{{ end }}
