{{ $style := resources.Get "style.scss" | resources.ToCSS (dict "outputStyle" "compressed") | resources.PostCSS (dict "config" ".postcssrc.js") | resources.Fingerprint }}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="{{ .Params.author | default .Site.Params.author }}">
	<meta name="description" content="{{ .Params.description | default .Site.Params.description }}" />
	<title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Permalink }}" />
	<link rel="stylesheet" href="{{ $style.Permalink }}" fetchpriority="highest">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" fetchpriority="highest">
</head>
