<div class="hero is-dark is-medium block" {{ with .Params.banner }}
  style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('{{ . }}') center center; background-size: cover;"
  {{ end }}>
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        {{ .Title }}
      </h1>
      {{ with .Params.description }}
      <h2 class="title subtitle is-4">
        {{ . }}
      </h2>
			{{ end }}

		<div class="tags">
			{{ range .Params.tags }}
			<a class="tag is-light" href="/tags/{{ . | urlize}}">{{ . }}</a>
			{{ end }}
		</div>
    </div>
  </div>
</div>
