{{ $pag := $.Paginator }}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
	{{ with $pag.First }}
			<a href="{{ .URL }}" class="pagination-previous" {{ if not $pag.HasPrev }} disabled{{ end }} aria-label="{{ i18n "firstPage" }}"><span aria-hidden="true">{{ i18n "firstPage" }}</span></a>
	{{ end }}
	<a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" class="pagination-previous" {{ if not $pag.HasPrev }} disabled{{ end }} aria-label="{{ i18n "previousPage" }}"><span aria-hidden="true">{{ i18n "previousPage" }}</span></a>
	<a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" class="pagination-next" {{ if not $pag.HasNext }}disabled{{ end }} aria-label="{{ i18n "nextPage" }}"><span aria-hidden="true">{{ i18n "nextPage" }}</span></a>
	{{ with $pag.Last }}
			<a href="{{ .URL }}" class="pagination-next" {{ if not $pag.HasNext }}disabled{{ end }} aria-label="{{ i18n "lastPage" }}"><span aria-hidden="true">{{ i18n "lastPage" }}</span></a>
	{{ end }}

	<ul class="pagination-list">
		{{ if gt $pag.TotalPages 1 }}
		{{ $ellipsed := false }}
		{{ $shouldEllipse := false }}
		{{ range $pag.Pagers }}
		{{ $right := sub .TotalPages .PageNumber }}
		{{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
		{{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
		{{ if $showNumber }}
				{{ $ellipsed = false }}
				{{ $shouldEllipse = false }}
		{{ else }}
				{{ $shouldEllipse = not $ellipsed }}
				{{ $ellipsed = true }}
		{{ end }}
		{{ if $showNumber }}
		<li><a class="pagination-link {{ if eq . $pag }}is-current{{ end }}" href="{{ .URL }}">{{ .PageNumber }}</a></li>
		{{ else if $shouldEllipse }}
		<li class="pagination-ellipsis" disabled><span aria-hidden="true">&nbsp;&hellip;&nbsp;</span></li>
		{{ end }}
		{{ end }}
		{{ end }}
	</ul>
</nav>
