<div class="column {{ .Get "column-classes" }}">
	<div class="card">
		{{ if (.Get  "img") }}
		<div class="card-image has-text-centered">
			<figure class="image is-inline-block {{ .Get "figure-classes" }}">
				<img class="is-rounded" src="{{ .Get "img" }}" alt="{{ .Get "title" }}">
			</figure>
		</div>
		{{ end }}
		<div class="card-content">
			<div class="media">
				<div class="media-content has-text-centered">
					{{ if (.Get "link") }}
					<p class="title is-4"><a href="{{ .Get "link" }}">{{ .Get "title" }}</a></p>
					{{ else }}
					<p class="title is-4">{{ .Get "title" }}</p>
					{{ end }}
				</div>
			</div>
			<div class="content has-text-justified">
				{{ .Inner | markdownify }}
			</div>
		</div>
		{{ with .Get "link" }}
		<footer class="card-footer">
			<a href="{{ . }}" class="card-footer-item">{{ i18n "readMore" }}</a>
		</footer>
		{{ end }}
	</div>
</div>
